<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Book Appointment</title>
</head>

<body>
    <h1>Book Appointment</h1>
    <div id="calendar"></div>
    <form id="availability-form" method="POST">
        {% csrf_token %}
        <label for="doctor">Select a doctor:</label>
        <select name="doctor" id="doctor">
            {% for doctor in doctors %}
            <option value="{{ doctor.pk }}">{{ doctor.name }}</option>
            {% endfor %}
        </select>
        <label for="date">Select a date:</label>
        <input type="date" name="date" id="date">
    </form>
    <div id="available-time-slots">
        {% if available_time_slots %}
        <h2>Available time slots:</h2>
        <ul>
            {% for time_slot in available_time_slots %}
            <li>{{ time_slot }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script src="{% static 'js/book_appointment.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">
</body>

</html>