<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Book Appointment</title>
</head>
<link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <h1>Book Appointment</h1>
    <form id="availability-form" method="POST">
        {% csrf_token %}
        <label for="speciality">Select a speciality:</label>
        <select name="speciality" id="speciality">
            {% for speciality in specialties %}
            <option value="{{ speciality.pk }}">{{ speciality.name }}</option>
            {% endfor %}
        </select>
        <label for="doctor">Select a doctor:</label>
        <select name="doctor" id="doctor">
            {% for doctor in doctors %}
            <option value="{{ doctor.pk }}">{{ doctor.name }}</option>
            {% endfor %}
        </select>
        <label for="date">Select a date:</label>
        <input type="date" name="date" id="date">
    </form>
    <div id="available-time-slots">
        {% if available_time_slots %}
        <h2>Available time slots:</h2>
        <ul>
            {% for time_slot in available_time_slots %}
            <li>{{ time_slot }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div style="display:none;" class="confirm-box" id="confirmation-message">
        <p>Thank You!</p>
        <div id="confirmation-data"></div>
        <button id="confirm-button">Confirm</button>
    </div>
    <script>
        var patientEmail = "{{ patient_email }}";
    </script>
    <script src="{% static 'js/book_appointment.js' %}"></script>
</body>

</html>