<!-- TODO: seperate the html and js code in different files -->
<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Chat Page</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
    <div class="container">
        <h1>Welcome to the Chat Page!</h1>
        <div id="chat-log"></div>
        <form id="chat-form">
            <input type="text" id="chat-input" placeholder="Enter a message...">
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>